<div class="notification" data-id="{{ message.id }}" data-readed="{{ message.readed }}">
    <div class="notification-title text-{{ message.alert.level }}">{{ message.alert.system }}</div>
    <div class="notification-description">{{ message.alert.text }}</div>
    <div class="notification-ago" title="{{ message.alert.date|date('d/m/Y H:i:s') }}">{{ message.alert.date|ago }}</div>
    <div class="notification-icon fa {{ message.alert.icon|default('fa-bell-o') }} bg-{{ message.alert.level }}"></div>
</div>