{% trans_default_domain 'FOSUserBundle' %}
    <h1 class="form-header">{{ 'resetting.request.submit'|trans }}?</h1>

<form action="{{ path('fos_user_resetting_send_email') }}" id="signin-form_id" class="panel" method="POST">
    {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}
    <div class="form-group">
            <input type="text" name="username" id="username_id" class="form-control input-lg" placeholder="{{ 'resetting.request.username'|trans }}">
    </div>

    <div class="form-actions">
            <input type="submit" name="_submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary btn-block btn-lg">
    </div> 
</form>
