{% extends 'CoreAdminBundle::layout-admin.html.twig' %}

{% block title %}
{{ parent() }} -  {{ 'views.edit.edit'|trans({'%entity%': 'User'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="page-header">
    <h1>{{ 'views.edit.edit'|trans({'%entity%': 'User'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
</div>
<div class="row">
    <form action="{{ path('admin_users_update', { 'id': entity.id }) }}" method="POST" {{ form_enctype(form) }}>
    <div class="col-sm-12">
        <div class="panel">
        {% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}
            <input type="hidden" name="_method" value="PUT" />
            <div class="panel-heading">
                <span class="panel-title">Basic Information</span>
            </div>
            <div class="panel-body">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.enabled) }}
                {{ form_row(form.profile.name) }}
                {{ form_row(form.profile.surnames) }}
                {{ form_row(form.profile.phone) }}
                {{ form_row(form.profile.cellphone) }}
                {{ form_row(form.profile.workphone) }}
                {{ form_row(form.profile.bornDate) }}
                {{ form_row(form.profile.gender) }}
                {{ form_row(form.profile.about) }}
                
               
            </div>
            <div class="panel-footer text-right">
                                <a class="btn" href="{{ path('admin_users') }}">
    {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
</a>
                
                <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 ">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Groups</span>
            </div>
            <div class="panel-body">
                {{ form_row(form.groups) }}
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 ">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Profile Image</span>
            </div>
            <div class="panel-body">
                {{ form_row(form.profile.avatar.file) }}
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 ">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Configuration</span>
            </div>
            <div class="panel-body">
                {% for config in form.profile.configs %}
                {{ form_row(config) }}
                {% endfor %}
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
            </div>
        </div>
    </div>
            {{ form_rest(form) }}
</form>
</div>

                
<form id="form-delete" action="{{ path('admin_users_delete', { 'id': entity.id }) }}" method="POST" style="display:none">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
</form>
        
<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">{{ 'views.actions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'views.actions.close'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                <button type="button" id="btn-delete-confirm" class="btn btn-primary">{{ 'views.actions.save'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#btn-delete-confirm').click(function(){
                $('#form-delete').submit();
            });
        });
    </script>
{% endblock %}

