{% block extends %}
{{ "{% extends 'admin.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block page %}" }}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">{{ "{{ 'app."~ entity|lower ~".entity'|trans({},'EntityTranslations') }}" }} / </span>{{ "{{ 'views.new.creation'|trans({'%entity%': 'app."~ entity|lower ~".entity'|trans({},'EntityTranslations') }, 'CoreAdminBundle') }}" }}
        </h1>
    </div>
        
    {{ "{{ form_start(form,{attr:{'class':'panel form-horizontal' } }) }}" }}
    
        <div class="panel-body">
            
            {{ "{{ form_widget(form) }}" }}
            
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary m-l-10">{{ "{{ 'views.new.create'|trans({},'CoreAdminBundle') }}" }}</button>
            {% set hide_edit, hide_delete = true, true %}

            {{ include('crud/views/others/record_actions.html.twig.twig') -}}
            
        </div>
        
    {{ "{{ form_end(form) }}" }}

{{ "{% endblock %}" }}
{% endblock body %}