{% trans_default_domain 'FOSUserBundle' %}

<div class="page-signin-container" id="page-signin-form">
    <h2 class="m-t-0 m-b-4 text-xs-center font-weight-semibold font-size-20">{{ 'change_password.submit'|trans }}</h2>

    {{ form_start(form,{'attr':{'class':'panel p-a-4'}}) }}
    {{ form_row(form.current_password,{'horizontal':false, 'attr':{'class':'form-control-lg'}}) }}
    {{ form_row(form.plainPassword.first,{ 'horizontal':false, 'attr':{'class':'form-control-lg'}}) }}
    {{ form_row(form.plainPassword.second,{ 'horizontal':false, 'attr':{'class':'form-control-lg'}}) }}
    {{ form_rest(form) }}

    <button type="submit" name="_submit" class="btn btn-block btn-lg btn-primary m-t-3">{{ 'change_password.submit'|trans }}</button>
    {{ form_end(form) }}
</div>