
    <div class="page-header">
        <h1>{{ 'views.index.list'|trans({'%entity%': 'Group'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'views.index.list'|trans({'%entity%': 'Group'}, 'JordiLlonchCrudGeneratorBundle') }}</span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-10">Nome</th>
                                <th class="col-md-2">{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in groups %}
                            <tr>
                                <td><a href="{{ path('fos_user_group_show', {'groupName': group.getName()} ) }}">{{ group.getName() }}</a></td>
                               <td>
                                   <div class="btn-group">
                                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                    {{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} &nbsp;<i class="fa fa-caret-down"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                    <li><a href="{{ path('fos_user_group_edit', {'groupName': group.getName()}) }}">{{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</a></li>
                                                    <li><a href="{{ path('fos_user_group_delete', {'groupName': group.getName()}) }}" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}')">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</a></li>
                                                    <li><a href="{{ path('admin_user_group_permissions', {'groupName': group.getName()}) }}">Permissions</a></li>
                                            </ul>
                                    </div>
                               </td>
                            </tr>
                            {% endfor %}
			</tbody>
                    </table>
		</div>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-10">
            
        </div>
        <div class="col-md-2">
                    <a class="btn btn-primary likepaginator" href="{{ path('fos_user_group_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Group
            </a>
                </div>
    </div>