{% trans_default_domain 'FOSUserBundle' %}
<div class="page-header">
    <h1>{{ 'views.edit.edit'|trans({'%entity%': 'Profile'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
</div>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="">
<div class="row">
    
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Basic Information</span>
            </div>
            <div class="panel-body">
            {{ form_errors(form.current_password)}}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.profile.name) }}
            {{ form_row(form.profile.surnames) }}
            {{ form_row(form.profile.phone) }}
            {{ form_row(form.profile.cellphone) }}
            {{ form_row(form.profile.workphone) }}
            {{ form_row(form.profile.bornDate) }}
            {{ form_row(form.profile.gender) }}
            {{ form_row(form.profile.about) }}
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-success" data-toggle="modal" data-target="#modal-save-changes">{{ 'profile.edit.submit'|trans }}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 ">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Profile Image</span>
            </div>
            <div class="panel-body">
                {{ form_row(form.profile.avatar.file) }}
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-success">{{ 'profile.edit.submit'|trans }}</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 ">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Configuration</span>
            </div>
            <div class="panel-body">
                {% for config in form.profile.configs %}
                {{ form_row(config) }}
                {% endfor %}
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-success">{{ 'profile.edit.submit'|trans }}</button>
            </div>
        </div>
    </div>
            
</div>
            
<div id="modal-save-changes" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-sm">
            <div class="modal-content">
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">{{ form.current_password.vars.label|trans }}</h4>
                    </div>
                    <div class="modal-body">
                            {{ form_widget(form.current_password)}}
                    </div> <!-- / .modal-body -->
                    <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">{{ 'profile.edit.submit'|trans }}</button>
                    </div>
            </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
</div>
{{ form_rest(form) }}
</form>