{% trans_default_domain 'FOSUserBundle' %}
<h1 class="form-header">{{ 'change_password.submit'|trans }}</h1>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="panel" id="signin-form_id">
    {{ form_row(form.current_password,{'horizontal':false, 'attr':{'class':'input-lg'}}) }}
    {{ form_row(form.plainPassword.first,{ 'horizontal':false, 'attr':{'class':'input-lg'}}) }}
    {{ form_row(form.plainPassword.second,{ 'horizontal':false, 'attr':{'class':'input-lg'}}) }}
    {{ form_rest(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
