{{ "{% extends 'CoreAdminBundle::layout-admin.html.twig' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }} -  {{ 'views.edit.edit'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'JordiLlonchCrudGeneratorBundle') }}" }}
{{ "{% endblock %}" }}

{{ "{% block page %}" }}
<div class="page-header">
    <h1>{{ "{{ 'views.edit.edit'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'JordiLlonchCrudGeneratorBundle') }}" }}</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ "{% form_theme edit_form 'MopaBootstrapBundle:Form:fields.html.twig' %}" }}
        <form class="panel form-horizontal" action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': entity.id }) }}" }}" method="POST" {{ "{{ form_enctype(edit_form) }}" }}>
            <input type="hidden" name="_method" value="PUT" />
            <div class="panel-heading">
                <span class="panel-title">{{ "{{ 'views.edit.edit'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'JordiLlonchCrudGeneratorBundle') }}" }}</span>
            </div>
            <div class="panel-body">
                {{ "{{ form_rest(edit_form) }}" }}
               
            </div>
            <div class="panel-footer text-right">
                {% set hide_edit, hide_delete = true, true %}
                {% include 'crud/views/others/record_actions.html.twig.twig' %}
                
                <button type="submit" class="btn btn-success">{{ "{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</button>
                {{ "{% if is_granted('ROLE_ADMIN_" }}{{ entity|upper }}{{ "_DELETE') %}" }} 
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ "{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</a>
                {{ "{% endif %}" }}
            </div>
        </form>
    </div>
</div>

    {{ "{% if is_granted('ROLE_ADMIN_" }}{{ entity|upper }}{{ "_DELETE') %}" }}                         
    <form id="form-delete" action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="POST" style="display:none">
        <input type="hidden" name="_method" value="DELETE" />
        {{ "{{ form_widget(delete_form) }}" }}
    </form>

    <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{ "{{ 'views.actions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ "{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "{{ 'views.actions.close'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</button>
                    <button type="button" id="btn-delete-confirm" class="btn btn-primary">{{ "{{ 'views.actions.save'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</button>
                </div>
            </div>
        </div>
    </div>
    {{ "{% endif %}" }}
{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
    {{ "{{ parent() }}" }}
    <script>
        $(document).ready(function(){
            $('#btn-delete-confirm').click(function(){
                $('#form-delete').submit();
            });
        });
    </script>
{{ "{% endblock %}" }}