{{ "{% extends 'JordiLlonchCrudGeneratorBundle::layout-admin.html.twig' %}" }}

{{ "{% block title %}" }}
{{ "{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'JordiLlonchCrudGeneratorBundle') }}" }}
{{ "{% endblock %}" }}

{{ "{% block page %}" }}
    <div class="page-header">
        <h1>{{ "{{ 'views.index.list'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'JordiLlonchCrudGeneratorBundle') }}" }}</h1>
    </div>
    {{ "{% form_theme filterForm 'MopaBootstrapBundle:Form:fields.html.twig' %}" }}
    <div class="row">
        <div class="col-sm-12">
            {{ '{% if form_errors(filterForm) %}' }}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ '{{ form_errors(filterForm) }}' }}
            </div>
            {{ '{% endif %}' }}
            <div class="panel-group panel-group-info">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-example" href="#collapseOne">
                            {{ "{{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse{{ "{% if form_errors(filterForm) %}" }} in{{ "{% endif %}" }}" style="height: auto;">
                        <div class="panel-body">
                            <form class="form-horizontal" action="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" method="GET" {{ "{{ form_enctype(filterForm) }}" }}>
                            {%- for field, metadata in fields %}

                            {{ "{{ form_row(filterForm." ~ field ~ ") }}" }}

                            {%- endfor %}

                            {{ "{{ form_rest(filterForm) }}" }}
                            <div class="col-sm-1 col-sm-offset-10">
                                <button type="submit" class="btn btn-warning" name="filter_action" value="reset">{{ "{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</button>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-info" name="filter_action" value="filter">{{ "{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ "{{ 'views.index.list'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'JordiLlonchCrudGeneratorBundle') }}" }}</span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                {%- for field, metadata in fields %}

                                <th>{{ field|capitalize }}</th>

                                {%- endfor %}

                                <th>{{ "{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ '{% for entity in entities %}' }}
                            <tr>

                        {%- for field, metadata in fields %}
                            {%- if loop.first and ('show' in actions) %}

                                <td>
                                    {{ "{% if is_granted('ROLE_ADMIN_" }}{{ entity|upper }}{{ "_SHOW') %}" }}    
                                        <a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a>
                                    {{ "{% else %}" }}
                                        {{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}
                                    {{ "{% endif %}" }}
                                </td>

                            {%- elseif metadata.type in ['date', 'datetime'] %}

                                <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                            {%- else %}

                                <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

                            {%- endif %}

                            {%- if loop.last %}

                                <td>
                                    {%- include "crud/views/others/actions.html.twig.twig" %}
                                </td>

                            {%- endif %}
                        {%- endfor %}

                            </tr>
                            {{ '{% endfor %}' }}
			</tbody>
                    </table>
		</div>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-10">
            {{ '{{ pagerHtml|raw }}' }}
        </div>
        <div class="col-md-2">
        {% if 'new' in actions %}
            {{ "{% if is_granted('ROLE_ADMIN_" }}{{ entity|upper }}{{ "_NEW') %}" }}    
            <a class="btn btn-primary likepaginator" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
            {{ "{{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }} {{ entity }}
            </a>
            {{ "{% endif %}" }}
        {% endif %}
        </div>
    </div>
{{ "{% endblock %}" }}