{% extends 'JordiLlonchCrudGeneratorBundle::layout-admin.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Teste'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    <div class="page-header">
        <h1>{{ 'views.index.list'|trans({'%entity%': 'Teste'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </div>
    {% form_theme filterForm 'MopaBootstrapBundle:Form:fields.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            {% if form_errors(filterForm) %}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
            {% endif %}
            <div class="panel-group panel-group-info">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-example" href="#collapseOne">
                            {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse{% if form_errors(filterForm) %} in{% endif %}" style="height: auto;">
                        <div class="panel-body">
                            <form class="form-horizontal" action="{{ path('teste') }}" method="GET" {{ form_enctype(filterForm) }}>
                            {{ form_row(filterForm.id) }}
                            {{ form_row(filterForm.nome) }}
                            {{ form_row(filterForm.ordem) }}
                            {{ form_rest(filterForm) }}
                            <div class="col-sm-1 col-sm-offset-10">
                                <button type="submit" class="btn btn-warning" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-info" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'views.index.list'|trans({'%entity%': 'Teste'}, 'JordiLlonchCrudGeneratorBundle') }}</span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Ordem</th>
                                <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('teste_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.nome }}</td>
                                <td>{{ entity.ordem }}</td>
                                <td>
        <a class="btn btn-mini" href="{{ path('teste_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
        <a class="btn btn-mini" href="{{ path('teste_edit', { 'id': entity.id }) }}">
            {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>                                </td>
                            </tr>
                            {% endfor %}
			</tbody>
                    </table>
		</div>
            </div>
        </div>
    </div>
    <div class="row">
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-10">
            {{ pagerHtml|raw }}
        </div>
        <div class="col-md-2">
                    <a class="btn btn-primary likepaginator" href="{{ path('teste_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Teste
            </a>
                </div>
    </div>
{% endblock %}