{% extends 'JordiLlonchCrudGeneratorBundle::layout-admin.html.twig' %}

{% block title %}
{{ parent() }} -  {{ 'views.edit.edit'|trans({'%entity%': 'Teste'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="page-header">
    <h1>{{ 'views.edit.edit'|trans({'%entity%': 'Teste'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">{{ 'views.edit.edit'|trans({'%entity%': 'Teste'}, 'JordiLlonchCrudGeneratorBundle') }}</span>
            </div>
            <div class="panel-body">                <div class="control-group">
                    <label class="control-label">Id</label>
                    <div class="controls">                        <span class="input-xlarge uneditable-input">{{ entity.id }}</span>                    </div>
                </div>                <div class="control-group">
                    <label class="control-label">Nome</label>
                    <div class="controls">                        <span class="input-xlarge uneditable-input">{{ entity.nome }}</span>                    </div>
                </div>                <div class="control-group">
                    <label class="control-label">Ordem</label>
                    <div class="controls">                        <span class="input-xlarge uneditable-input">{{ entity.ordem }}</span>                    </div>
                </div>               
            </div>
            <div class="panel-footer text-right">
                                <a class="btn" href="{{ path('teste') }}">
    {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
</a>
    {% if is_granted('ROLE_ADMIN_TESTE_EDIT') %}
        <a class="btn btn-primary" href="{{ path('teste_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    {% endif %}
                
                {% if is_granted('ROLE_ADMIN_TESTE_DELETE') %}    
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>

    {% if is_granted('ROLE_ADMIN_TESTE_DELETE') %}               
    <form id="form-delete" action="{{ path('teste_delete', { 'id': entity.id }) }}" method="POST" style="display:none">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
    </form>

    <div id="modalDelete" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'views.actions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'views.actions.close'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="button" id="btn-delete-confirm" class="btn btn-primary">{{ 'views.actions.save'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#btn-delete-confirm').click(function(){
                $('#form-delete').submit();
            });
        });
    </script>
{% endblock %}